<h2>User info</h2>

    <table class='table'>
      <tr>
        <td><%= attachment_image_tag user, :profile_image, :fill, 100, 100, format: 'jpeg', fallback: "no_image.jpg" %></td>
        <td>
          <% if user != current_user %>
            <% if current_user.follows.exists?(user.id) %>
              <%= link_to user_relationships_path(user), method: :delete, class:"btn btn-danger" do %>
                フォロー解除
              <% end %>
            <% else %>
              <%= link_to user_relationships_path(user), method: :post, class:"btn btn-info" do %>
                フォローする
              <% end %>
            <% end %>
          <% end %>
        </td>
      </tr>
      <tr>
        <td>name</td>
        <td><%= user.name %></td>
      </tr>
      <tr>
        <td>introduction</td>
        <td><%= user.introduction %></td>
      </tr>
      <tr>
        <td><%= link_to follows_user_relationships_path(user) do %>
              フォロー：<%= user.follower.count %>
            <% end %>
        </td>
        <td><%= link_to followers_user_relationships_path(user) do %>
              フォロワー：<%= user.followed.count %>
            <% end %>
        </td>
      </tr>
    </table>

    <div class="row mx-auto my-3">
      <% if current_user.followers.exists?(user.id) %>
          あなたをフォローしています。
      <% end %>
    </div>

    <div class='row mx-auto'>
      <% if user != current_user %>
        <!--相互フォローなら-->
        <% if current_user.followers.exists?(user.id) && current_user.follows.exists?(user.id) %>
          <% room_id = search_room_id(user) %>
          <% if room_id %>
             <%= link_to "Enter DM room", room_path(room_id), {class:"btn btn-primary"} %>
          <% else %>
            <%= form_with model: Room.new, local: true do |f|%>
              <%= fields_for RoomUser.new do |r| %>
                <%= r.hidden_field :user_id, value: user.id %>
              <% end %>
              <%= f.submit "Create DM room", class:"btn btn-success" %>
            <% end %>
          <% end %>
        <% end %>
      <% else %>
        <p><%= link_to "プロフィール編集", edit_user_path(user), {class: "btn btn-outline-secondary btn-block fas fa-user-cog"} %></p>
      <% end %>
    </div>
    <hr>
    <h2 class="mt-3">New book</h2>
    <%= form_with model: Book.new, local:true do |f| %>
      <h4>title</h4>
      <%= f.text_field :title %>
      <h4>body</h4>
      <%= f.text_area :body %>
      <div>
      <%= f.submit 'Create Book', class:"btn btn-success" %>
      </div>
    <% end %>