<% if @book.errors.any? %>
  <p class="alert alert-danger"><%= @book.errors.count %> error(s) prohibited this obj from being saved:</p>
  <ul class="alert alert-danger">
  <% @book.errors.full_messages.each do |message| %>
    <li><%= message %></li>
  <% end %>
  </ul>
<% end %>
<div class='container px-5 px-sm-0'>
  <div class='row'>
    <div class='col-md-3'>
    <%= render 'books/list', user: current_user %>
    </div>

    <div class='col-md-8 offset-md-1'>
      <h2>Books</h2>

      <% if @sort == "rate" %>
        <%= link_to "新着順", books_path(sort: "created_at") %> |
        <%= link_to "@評価順", books_path(sort: "rate") %>
      <% else %>
        <%= link_to "@新着順", books_path(sort: "created_at") %> |
        <%= link_to "評価順", books_path(sort: "rate") %>
      <% end %>

      <table class='table table-hover table-inverse'>
        <thead>
          <tr>
            <th>Author</th>
            <th>Title</th>
            <th>Body</th>
            <th>Category</th>
            <th>評価</th>
            <th>いいね</th>
            <!--<th>1週間以内の★</th>-->
            <th>comments</th>
            <th>閲覧数</th>
          </tr>
        </thead>

        <tbody>
          <% @books.each do |book| %>
          <tr>
            <td><%= link_to user_path(book.user.id) do %>
                  <%= attachment_image_tag book.user, :profile_image, :fill, 60, 60, format: 'jpeg', fallback: "no_image.jpg" %>
                <%end%>
            </td>
            <td><%= link_to book_path(book.id) do %>
                  <%= book.title %>
                <%end%>
            </td>
            <td><%= book.body %></td>
            <!--ex9d カテゴリ-->
            <td><%= link_to search_path(keyword: "#{book.category}", table:"category", match: "exact") do %>
                  <%= book.category %>
                <%end%>
            </td>
            <!--ex7d 評価-->
            <td class="book-evaluation" data-score="<%= book.rate %>"></td>
            <!--いいね機能ついか--> <!--idを割り振って、booksの中からいいねしたやつだけ非同期通信できるように-->
            <td class="favorite-btn-<%= book.id %>">
              <%= render 'favorites/favorite-btn', book: book %>
            </td>
            <!--これ入れると重い。<td>%= book.favorites.includes(:favorites).where(created_at: @from...@to).size %></td>-->
            <td>コメント件数：<%= book.comments.count %></td>
            <td><%= book.impressions_count %></td>
          </tr>
          <%end%>
          <%= paginate @books %>

        </tbody>
      </table>
    </div>
  </div>
</div>
<script>
  $('.book-evaluation').raty({
    readOnly: true,
    score: function() {
      return $(this).attr('data-score');
    },
    path: '/assets/'
  });
</script>