<p id="notice"></p>

<div class="comment-alert">
  <%= render 'comments/alert', comment: @comment %>
</div>

<div class='container px-5 px-sm-0'>
  <div class='row'>
    <div class='col-md-3'>
      <%= render 'books/list', user: @book.user %>
    </div>

    <div class='col-md-8 offset-md-1'>
      <h2>Book detail</h2>

      <table class='table table-hover table-inverse'>
        <tbody>
          <tr>
            <td>
              <%= attachment_image_tag @book.user, :profile_image, :fill, 60, 60, format: 'jpeg', fallback: "no_image.jpg" %>
              <br />
              <%= link_to user_path(@book.user.id) do %>
                  <%= @book.user.name %>
              <%end%>
            </td>
            <td>
              <%= link_to book_path(@book.id) do %>
                <%= @book.title %>
              <%end%>
            </td>
            <td><%= @book.body %></td>
            <!--いいね機能ついか--><!-- 応用課題6でテンプレート化しました-->
            <td class="favorite-btn-<%= @book.id %>">
              <%= render 'favorites/favorite-btn', book: @book %>
            </td>
            <td>コメント件数：<%= @book.comments.count %></td>
            <td><% if @book.user == current_user %>
                <%= link_to "Edit", edit_book_path(@book), class:"btn btn-sm btn-success" %>
                <% end %>
            </td>
            <td><% if @book.user == current_user %>
                <%= link_to "Destroy", book_path(@book), method: :delete, class:"btn btn-sm btn-danger" %>
                <% end %>
            </td>
            <td>閲覧数：<%= @book.impressions_count %></td>
          </tr>
        </tbody>
      </table>

      <!--コメントは部分テンプレで非同期-->
      <h4 class="my-3">コメント一覧</h3>
      <table class='table table-hover table-inverse'>
        <thead>
          <tr>
            <th>ユーザー</th>
            <th>内容</th>
            <th>時間</th>
            <th></th>
          </tr>
        </thead>
        <tbody class="comment">
          <!--非同期のためテンプレ化-->
          <%= render 'comments/comment', book: @book %>
        </tbody>
      </table>

      <h4 class="my-3">コメントする</h4>
      <div>
        <%= form_with(model:[@book, @comment], remote: true) do |f| %>
          <%= f.text_area :comment, rows:'2', placeholder: "コメントをここに", class:"new-comment" %>
          <%= f.submit %>
        <% end %>
      </div>

    </div>
  </div>
</div>